.DayPicker {
  position: absolute;
  background: white;
  z-index: 2;
  top: 50%;
  right: 0;
  transform: translate(95%, -50%);
  border-radius: 3px;
  border: solid 1px #d2d2d2;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}

.pickWrapper {
  display: none;

  &.isActive {
    display: block;
  }

  &.cardOnRight {
    .DayPicker {
      transform: translate(-105%, -50%);
      right: auto;
      left: 0;
    }
  }
}

.cardFull {
  .pickWrapper {
    p {
      position: absolute;
      z-index: 2;
      margin-top: 70px;
    }
    a {
      position: absolute;
      right: 10px;
      z-index: 2;
    }
    .DayPicker {
      transform: none;
      top: 3vw;
      left: 0;
      bottom: 0;

      .DayPicker-wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
      }
    }
    .navIcon {
      position: absolute;
      z-index: 2;
    }
  }
}
