.modal {
  background: rgba($offWhite, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .btn {
    margin-right: 10px;
    outline: 0;

    &.disabled {
      opacity: 0.25;
      pointer-events: none;
    }
  }

  .modalInner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    padding-top: 39px;
    @extend %card;
    border-radius: 3px;

    textarea {
      width: 500px;
      min-width: 500px;
      max-width: 500px;
      font-size: 16px;
      border: none;
      margin: 30px 0 10px;
      outline: solid #d2d2d2 1px;
      background: #fcfcfc;
      transition: all 0.5s ease;
      color: #626255;
      padding: 1vw;
    }

    .modalTitle {
      width: 500px;
      position: relative;
      @extend %clear;

      h4 {
        float: left;
        padding: 15px 0;
      }
      .navIcon {
        float: right;

        &:hover {
          transform: none;
          opacity: 0.8;
        }
      }
    }

    a {
      display: block;
    }
  }

  .doubleModal {
    border: solid $secondary 25px;
  }
}

.LoadModal {
  text-align: center;
  img {
    width: 300px;
    padding: 100px;
    padding-bottom: 50px;
  }
  h4 {
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
  }
}

.AddNoteModal.modalInner {
  .btn {
    display: block;
    text-align: center;
    width: 150px;
  }
}

.FilterModal, .UserModal {
  .filterSearch {
    border: none;
    border-bottom: 1px solid $medGray;
    width: 100%;
    padding: 15px;
    position: relative;

    img {
      width: 20px;
      position: absolute;
      top: 19px;
    }

    input {
      position: relative;
      padding: 0;
      padding-left: 40px;
      outline: 0;
      height: 25px;
      font-size: 15px;
      width: calc(100% - 0vw);
      border: 0;
      background: transparent;
    }
  }

  ul {
    padding: 20px;
    margin: 0;
    max-height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  li {
    @extend %sansB;
    list-style: none;
    padding: 13px 15px;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
    // transition: all 0.25s ease;

    &:hover {
      opacity: 0.5;
      // transition: all 0.25s ease;
    }

    &.isActive {
      @extend %softGradient;
      background: $secondary;
      color: $white;
      border-radius: 3px;
      pointer-events: none;
    }
  }



  .newFilterTrigger {
    border-top: 1px solid $medGray;
    padding: 20px 20px 0;

    h4 {
      cursor: pointer;
      color: $secondary;
    }
  }
}



.RecapVisitModal.modalInner {
  @extend %shadowBox;
  width: 90%;
  max-width: 900px;
  height: 90vh;
  border-radius: 10px;

  padding: 30px;

  h3 {
    float: left;
    width: calc(100% - 70px);
    font-size: 4vw;
    line-height: 4.5vw;
    padding-top: 3px;
  }
  .navIcon {
    float: right;
  }


  .backArrow {
    width: 16px;
    position: absolute;
    top: 27px;
    left: 25px;
    opacity: 0.35;
  }

  #RecapTicket {
    textarea {
      width: 100%;
      margin: 10px 0 20px;
      border: none;
      border-radius: 5px;
      padding: 8px 10px;
      background: $offWhite;
      outline: none;
      transition: all 0.25 ease;

      &:focus {
        background: rgba($medGray, 0.35);
        transition: all 0.25 ease;
      }
    }
  }
}
#RecapVisit, #RecapNotes, #RecapTicket {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  textarea {
    width: 100%;
    min-width: 0;
    max-width: none;
    margin-top: 10px;
  }

  button {
    margin: 5px 0;
    font-size: 4vw;
    letter-spacing: 0.25vw;

    &#create {
      margin-top: 15px;
    }
  }
}

.yelpBox {
  .selectBox, a {
    display: inline-block !important;
    vertical-align: middle;
  }
}

#sortTable, #exportForm {
  padding: 1.5vw 0;
  border-top: solid 1px $gray;
  margin-top: 1.5vw;

  .selectBox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    select {
      -webkit-appearance: none;
      border-radius: 0;
      border: 1px solid $medGray;
      background: transparent;
      padding: 10px 15px;
      padding-right: 35px;
      outline: 0;
      cursor: grab;
    }

    &::after {
      background: url('../assets/icons/black/down_carrot.png');
      content: "";
      opacity: 0.5;
      position: absolute;
      background-size: cover;
      width: 16px;
      height: 16px;
      pointer-events: none;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.mergeBox {
      margin-bottom: 25px;
    }
  }
}

#startRange, #endRange, #exportChoice, #rangeBox {
  &.isHidden {
    display: none;
  }
}

#startRange, #endRange, #exportChoice, #rangeBox {
  margin-bottom: 20px;
}

.filterBy, .regionChecks {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  margin-right: 20px;
}
.regionChecks {
  margin-right: 0;
  input {
    margin-right: 5px;
  }
}

.fieldsList {
  max-height: 250px;
  overflow: scroll;
  margin-bottom: 20px;
  background: #eaeaea;
  border-radius: 5px;
  padding: 20px;
  width: 500px;

  .CheckItem {
    background: $white;
    display: inline-block;
    border-radius: 5px;
    margin: 3px 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);

    &.isActive {
      background: #36c776;
      color: white;
      font-weight: bold;
    }
  }

  label {
    @extend p;
    vertical-align: middle;
    padding: 8px 12px;
    padding-left: 28px;
    display: inline-block;
  }
  input {
    vertical-align: middle;
    display: inline-block;
    margin-right: -24px;
    margin-left: 12px;
  }
}

.repList {
  background: #eaeaea;
  width: 560px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -30px;
  margin-top: 30px;
  text-align: center;
  padding: 30px 0px;
  border-radius: 6px;
}

.repMetric {
  background: $white;
  text-align: left;
  display: inline-block;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.10);
  margin: 12px;

  h2 {
    margin-bottom: 10px;
  }
  p {
    font-weight: bold;
  }
  p span {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    color: gray;
  }
}


.navBtns {
  display: flex;
  // position: absolute;
  // bottom: -6px;

  p {
    opacity: 0.4;
    margin-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    &.isActive {
      opacity: 1;
      text-decoration: underline;
      pointer-events: none;
      font-weight: bold;
    }
  }
}

.modal .modalInner.FollowUpsModal {

  &.AllActives {
    input {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
      outline: 0;
    }
    .repList {
      margin-top: 10px;
    }
  }

  .btn {
    text-align: center;
  }
  .modalTitle {
    width: 100%;

    .backArrow {
      float: left;
      width: 27px;
      opacity: 0.4;
      padding: 12px 5px;
      margin-right: 15px;
    }

    span.ViewRec {
      float: right;

      a {
        display: inline-block;
        cursor: pointer;
      }
    }
    a.ViewRec {
      float: right;
    }
  }

  textarea {
    width: 100%;
    min-width: 0;
    max-width: none;
    margin: 0;
  }

  #emailSubject {
    width: 100%;
    margin: 10px 0;
  }

  .splitNotes {
    display: flex;
    margin: 10px 0 10px;

    .followUp {
      flex-basis: 65%;
      padding: 0 10px;
    }

    .noteSide {
      flex-basis: 35%;
      padding: 0 10px;

      textarea {
        background: #f7f7f5;
        border: none;
        outline: none;
        height: 33.5vh;
        border-radius: 10px;
      }
    }
  }

  .splitHalf {
    display: flex;
    margin: 10px 0 10px;

    .half {
      flex-basis: 40%;
      padding: 0 10px;
      .btn {
        text-align: center;
        margin-top: 10px;
      }

      #copyBody {
        height: 40vh;
      }
      form {
        font-size: 0;
        select, input, button.btn {
          display: inline-block;
          margin: 0;
          outline: 0;
          height: 44px;
          vertical-align: top;
          font-size: 14px;
          margin-bottom: 10px;
        }
        input {
          width: 45%;
          padding: 5px 10px;
          border: 1px solid $medGray;
          border-radius: 100px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        select {
          width: 25%;
          border-radius: 0;
          -webkit-appearance: none;
          padding: 5px 10px;
          border: 1px solid $medGray;
          border-right: 0;
          border-left: 0;
        }
        button.btn {
          width: 30%;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }


      &.noteSide {
        textarea {
          background: #f7f7f5;
          border: none;
          outline: none;
          height: 44.75vh;
        }
      }

      #resultsBox {
        background: rgba($black, 0.08);
        padding: 15px;
        height: 39vh;
        border-radius: 10px;
        overflow-y: scroll;

        .referenceItem {
          @extend %card;
          padding: 15px;
          border-radius: 8px;
          width: 100%;
          display: inline-block;
          margin: 2% 0;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }

          .refNotes, .refInfo {
            display: inline-block;
            vertical-align: middle;

            p, textarea {
              font-size: 14px;

              &.med { font-size: 16px;  }
              &.small { font-size: 12px;  }
            }

            textarea {
              background: transparent;
              border: none;
              padding: 0;
              border-color: white;
              outline: none;
              pointer-events: none;
            }
          }
          .refNotes {
            width: 30%;
          }
          .refInfo {
            border-left: 1px solid $black;
            padding-left: 10px;
            width: 69%;
          }
        }
      }
    }
  }


  .btn {
    width: 49%;
    display: inline-block;
  }
}
.FollowUpsModal {
  width: 80%;
  .repList {
    background: #fff4eb;
    height: 60vh;
    overflow-y: scroll;
    text-align: left;
    padding: 25px;
    margin: 30px -20px -25px;
    width: calc(100% + 40px);
  }
  hr {
    border-top: solid 1px $black;
    background: transparent;
    margin: 30px 0;
  }

  .followUpItem {
    @extend .whiteCard;
    display: inline-block;
    margin: 2px;
    border-radius: 3px;
    padding: 12px;
    overflow: hidden;
    border: solid 1px $primary;

    &.blown {
      padding: 6px;
      opacity: 0.6;
      background: rgba($white, 0.4);
      border: 0;
    }

    &.allList {
      border: solid 1px $medGray;
      pointer-events: none;
      padding: 6px 10px;
      background: $white;

      p {
        opacity: 1;
        color: rgba($black, 0.7);
        font-weight: bold;
      }
    }

    &.missed {
      border: 0;
    }


    h2 {
      font-size: 14px;
    }
    p {
      font-size: 11px;
      text-transform: uppercase;
      opacity: 0.4;
      letter-spacing: 0.5px;
      line-height: 11px;
    }
  }
}

.logCall.TicketModal {
  background: transparent;

  .DayPicker {
    left: 40px;
    right: auto;
    top: 0;
    transform: translate(0%, 70%);
  }

  .inner .modalTitle {
    .backArrow {
      width: 16px;
      position: absolute;
      top: 27px;
      left: 25px;
      opacity: 0.35;
    }
  }

  .inner .modalTitle h4 em {
    opacity: 1;

    span {
      padding: 8px 15px;
      border-radius: 100px;
      color: $white;
      &.Carla {
        background: $primary;
      }
      &.Jett {
        background: $secondary;
      }
      &.Shana {
        background: $tertiary;
      }
    }
  }

  .inputGroup {
    margin: 40px 0;

    span {
      font-size: 11px;
      letter-spacing: 2px;
      text-transform: uppercase;
      opacity: 0.5;
      font-weight: bold;
    }
    .inputBlock {
      display: inline-block;
      p {
        font-size: 11px;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0.5;
        font-weight: bold;
      }

      &.inputBlock--large {
        width: 70%;
      }
      &.inputBlock--small {
        margin-left: 5%;
        width: 25%;
      }

      &.inputBlock--third {
        margin-right: 3%;
        width: 31%;

        &:last-child {
          margin-right: 0;
        }
      }

      &.inputBlock--half {
        width: 48%;
        margin-right: 4%;

        &:last-child {
          margin-right: 0;
        }
      }


      &.inputBlock--full {
        width: 100%;
      }


      textarea {
        width: 100%;
        font-size: 14px;
        padding: 15px;
      }
    }
  }

  .inner .modalBody .mainTicket {
    position: relative;
    .inputBlock {
      .selectBlock {
        select {
          background: #f7f7f5;
          color: $black;
        }

        &::after {
          background: none;
          background: url('../assets/icons/black/down_carrot.png');
        }
      }

      textarea {
        font-size: 16px;
        line-height: 23px;
      }
    }
  }
  .inner .modalBody .accountData {
    .recordCards {
      height: 100%;
    }
    .RecordCard.card--Notes {
      max-height: none;
    }
  }
  .inputBlock {
    margin-bottom: 15px;

    input {
      background: #f7f7f5;
      border: solid 1px #efefef;
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      outline: 0;
    }
  }
}

.qualifyMap {
  position: relative;
  width: 78%;
  padding-bottom: 70%;
}

.mapArea {
  display: flex;
}

.comparison {
  text-align: center;

  .loading {
    margin: 50px 20px;
    width: 100px;
  }
  margin-bottom: 100px;
}

.nextBtn {
  position: fixed;
  width: 58%;
  border-radius: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  text-align: center;

  &:hover {
    transform: none;
  }
}

.innerCompare {
  border-radius: 10px;
  background: #ebebeb;
  text-align: center;
  overflow: hidden;

  img {
    margin-top: 20px;
    width: 100px;
  }

  .google {
    padding-bottom: 25px;
    background: #dce6fb;

    .googleInner {
      background: white;
      border: solid 1px #ebecee;
      padding: 20px;
      border-radius: 10px;
      margin: 0 25px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
      text-align: center;


      .addArea {
        .addBlock {
          text-align: left;
          display: inline-block;
          margin: 0 5px;

          &.none {
            display: none;
          }
        }
      }

      &.closed {
        text-align: center;
        font-size: 20px;
        color: white;
        border-radius: 6px;
        padding: 10px;
        margin-top: 20px;
        border: solid 5px $primary;

        .closedH2 {
          background: $primary;
          text-align: center;
          font-size: 20px;
          color: $white;
          border-radius: 6px;
          padding: 10px;
          margin-top: 20px;
        }
      }
    }
  }

  .update {
    text-align: center;
    width: 100%;
    margin: 10px 0 0;
  }

  .airmagic {
    padding-top: 25px;
    padding-bottom: 15px;
    background: #ebebeb;

    .airmagicInner {
      text-align: left;
      background: white;
      padding: 10px;
      margin: 0 20px;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
      position: relative;
      padding-bottom: 20px;

      .airItem {
        display: inline-block;
        margin: 0 5px;
        vertical-align: top;
        overflow-x: hidden;
        white-space: nowrap;
        &.full {
          width: 97%;
        }
        &.most {
          width: 66%;
          margin-bottom: 10px;
        }
        &.small {
          width: 28%;
          margin-bottom: 10px;
        }
        &.half {
          width: 47%;
        }

        .fakeField {
          padding: 10px;
          border: solid 1px $medGray;
          min-height: 42px;
        }

        .label {
          font-weight: bold;
          font-size: 10px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #8C7376;
        }
      }
    }
  }
}

.qualifyMap, .qualifyReference {
  display: inline-block;
  vertical-align: top;
}
.qualifyReference {
  width: 105px;
  padding: 10px 7px;
  background: #f4f4f4;
  border-left: 2px solid #e4e4e3;

  p, .reference {
    display: inline-block;
  }
  .reference-3 {
    width: 75px;
    height: 50px;
    background: #e4e4e4;
    margin-bottom: 20px;
  }
  .reference-10 {
    width: 85px;
    height: 150px;
    background: #e4e4e4;
  }
}

.modal .SalesModal {
  &.splitted {
    margin-left: -14vw;
  }

  .stats {
    position: fixed;
    left: 0;
    width: 100%;
    transform: translateY(105%);
    bottom: 0;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    p {
      margin: 10px 0;
    }
  }

  #xWeek .inner {
    border-radius: 10px;
    background: #fff6d1;
    select {
      background: white;
    }
  }
  #address .inner {
    border-radius: 10px;
    background: #fff;
  }
  #location .inner {
    border-radius: 10px;
    background: #f1f1f1;
  }
  .ModuleList {
    background: #eaeaea;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    width: 500px;
    height: auto !important;

    .ModuleCard {
      text-align: left;
      display: inline-block;
      width: 100%;
      width: 450px;
      position: relative !important;
      top: 0 !important;
      left: 0 !important;

      &.error, .error {
        background: $primary
      }
    }
  }

  .inner {
    width: 450px;
  }

  form {
    .inner {
      background: $offWhite;
      padding: 30px;
      margin: 10px 0;

      select {
        background: $white !important;
      }
    }

    textarea {
      background: $offWhite;
      padding: 20px;
      margin: 10px 0;
      outline: 0;
      border-radius: 5px;
      display: block;
    }

    .splitHalf {
      .notesHalf {
        position: absolute;
        right: 0;
        transform: translateX(105%);
        width: 26vw;
        min-width: 0;
        background: $white;
        top: 0;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
        height: 95%;
      }
    }
  }

  .daySelect {
    margin: 20px 0 0;

    p {
      margin-bottom: 10px;
    }

    input {
      display: none!important;
    }

    input[type=checkbox] + label {
      display: inline-block;
      padding: 2px 9px;
      margin: 0 1px;
    }
    input[type=checkbox]:checked + label {
      padding: 2px 9px;
      margin: 0px 1px;
      border-radius: 100px;
      font-weight: bold;
      background: $tertiary;
      color: #ffffff;
    }
  }

}




@media only screen and (max-width: 900px) {
  .modal .modalInner {
    width: 85%;
    max-height: 90vh;
    overflow-y: scroll;

    .modalTitle {
      width: 100%;
    }
  }

  .LoadModal img {
    padding: 0;
    width: 50%;
    margin-top: 20px;
  }
}
