.Navbar {
  @extend %fadeOut;
  padding: 20px;
  position: fixed;
  z-index: 2;
  width: 100%;

  .navIcon, h4, .TabList {
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    position: relative;
  }
  .inputBlock {
    display: inline-block;
    margin-bottom: 11px;
    position: relative;
    margin-left: 20px;

    .selectBlock {
      position: relative;
      &::after {
        background: url('../assets/icons/black/down_carrot.png');
        content: "";
        opacity: 0.5;
        position: absolute;
        background-size: cover;
        width: 16px;
        height: 16px;
        pointer-events: none;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    label {
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @extend %sansB;
      color: #8C7376;
      width: 100%;
    }

    select {
      border: solid 1px $medGray;
      width: 100%;
      padding: 0.5vw 0.35vw;
      font-size: 14px;
      outline: 0;
      background: white;
      border-radius: 0;

      &:focus {
        border: solid 1px darken($darkGray, 5%);
      }
    }

    select {
      -webkit-appearance: none;
      padding: 0.3vw 0.35vw;
      background: $white;
      padding-right: 30px;
    }

    input[type='checkbox'] {
      background: blue;
    }

  }
  h4 {
    margin-left: 1vw;
  }

  .TabList {
    margin-left: 1.4vw;
  }

  .TabItem {
    display: inline-block;
    list-style: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    margin-right: 1vw;
    position: relative;
    cursor: pointer;


    a {
      text-decoration: none;
    }

    &.isActive {
      color: $primary;
      @extend %sansB;
      cursor: default;


      a {
        color: $primary;
        text-decoration: none;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        height: 1px;
        width: 100%;
        background: $primary;
        left: 0;
      }
    }
  }

  .rightButtons {
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    position: relative;
    float: right;

    .navIcon {
      float: none;
      margin-left: 20px;
    }
  }
}



// .recordNav {
//   .inputBlock {
//     display: none;
//   }
// }

@media only screen and (max-width: 767px) {
  .Navbar h4 {
    margin-left: 10px;
    font-size: 16px;
  }
  .Navbar {
    .inputBlock {
      display: none;
    }
  }
}
