.RecordModules, .RecordNotes {
  position: fixed;
  height: 100%;
  overflow: scroll;
}
.RecordModules {
  left: 0;
  width: 60%;
}


.hiddenSPName {
  display: none;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 15px 0;
  background: #ebebe8;
}

.exportBtn {
  float: right;
  img {
    pointer-events: none;
  }
}
.RecordView {
  left: 0;
  width: 60%;
}

.RecordNotes {
  right: 0;
  width: 40%;
  @extend %card;
  cursor: default;
  top: 0;
}

.Sales .RecordNotes {
  top: auto;
  bottom: 0;
  width: 100%;
  position: relative;
  height: calc(100% - 330px);

  .NotesNav {
    padding: 2vw;
  }
  .NotesList {
    padding: 7vw 7% 6.5vw;
  }
}
.RightPanel {
  right: 0;
  width: 40%;
  height: 100%;
  bottom: 0;
  position: absolute;
  @extend %card;

  #mobileSegment {
    display: none;
  }

  #streetWindow {
    height: 300px;
    position: relative;
    top: 15px;
    left: 15px;
    margin-bottom: 30px;
    width: calc(100% - 30px);
    // background-color: #e5e3df;
    background-size: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    border: solid 5px white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

    img {
      object-fit: cover;
      width: 50%;
      height: 100%;
    }

    .mapSide {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
    }
  }
}

.ModuleContainer {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
  padding-bottom: 100px;
}
.ModuleList {
  position: relative;
  width: 92%;
  margin: auto;
  padding-top: 7vw;
  margin-bottom: 3vw;

  &.fullWidthCards {
    .ModuleCard {
      width: 100%;
    }
  }

  .ModuleCard {
    padding: 0.8vw;
    width: 50%;
    .inner {
      padding: 0.7vw 1.4vw;
      width: 100%;
      @extend %card;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .cardTag {
      padding: 15px 0;
      border-top: 1px solid $medGray;
      width: 100%;
      .btn {
        width: 100%;
        text-align: center;
      }
    }
    .scrollList {
      max-height: 250px;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      background: #fafafa;
      border: solid 1px $medGray;
      margin: 10px 0;
      padding: 5px;
      width: 100%;
    }
  }

  .inputBlock {
    display: inline-block;
    margin-bottom: 11px;
    position: relative;

    &.isHidden {
      display: none;
    }

    .selectBlock {
      position: relative;
      &::after {
        background: url('../assets/icons/black/down_carrot.png');
        content: "";
        opacity: 0.5;
        position: absolute;
        background-size: cover;
        width: 16px;
        height: 16px;
        pointer-events: none;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.inputBlock--half {
      flex-basis: 48%;
    }
    &.inputBlock--full {
      flex-basis: 100%;
    }
    &.inputBlock--small {
      flex-basis: 35%;
    }
    &.inputBlock--quart {
      flex-basis: 22%;
    }
    &.inputBlock--75 {
      flex-basis: 73%;
    }
    &.inputBlock--large {
      flex-basis: 61%;
    }

    label {
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @extend %sansB;
      color: #8C7376;
      width: 100%;
    }

    input, select, textarea {
      border: solid 1px $medGray;
      width: 100%;
      padding: 0.5vw 0.35vw;
      font-size: 14px;
      outline: 0;
      background: white;
      border-radius: 0;

      &:focus {
        border: solid 1px darken($darkGray, 5%);
      }
    }

    select {
      -webkit-appearance: none;
      padding: 0.3vw 0.35vw;
      background: transparent;
    }

    input[type='checkbox'] {
      background: blue;
    }
  }

  .inputWithTag {
    display: flex;
    flex-wrap: nowrap;

    .inputTag {
      flex-basis: 40px;
      background: #e8e8e8;
      position: relative;

      &.selectable {
        cursor: pointer;
      }

      a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
      }

      img {
        width: 15px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

#appraiserBtn {
  width: calc(50% - 40px);
  text-align: center;
  margin-left: 30px;
  position: absolute;
  z-index: 5;
  top: 30px;

  &.hideThis {
    display: none;
  }
}


@media only screen and (max-width: 1440px) {
  .Sales .RecordNotes .NotesList {
    padding: 7vw 7% calc(125px + 2vw);
  }
}
@media only screen and (max-width: 1350px) {
  .RightPanel {
    width: 35%;
  }
  .ControlsBar.recordControls, .recordNav .Navbar, .ModuleContainer {
    width: 65%;
  }
  .ModuleList {
    width: 96%;
  }
  .RecordNotes, .RecordNotes .NotesList, .RecordNotes .NotesNav {
    width: 35%;
  }
}
@media only screen and (max-width: 1140px) {
  #appraiserBtn {
    display: none;
  }
  .ControlsBar.recordControls, .recordNav .Navbar, .ModuleContainer {
    width: 100%;
  }
  .normalNav .Navbar {
    width: 100%;
  }
  .ModuleContainer {
    height: calc(65% - 93px) !important;
    margin: 0 auto;
    padding-bottom: 0;

    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      bottom: 2vw;
      right: 0;
      background: -webkit-linear-gradient(bottom, #f7f7f5 50%, rgba(247, 247, 245, 0) 100%);
      background: -webkit-gradient(linear, left bottom, left bottom, color-stop(50%, #f7f7f5), to(rgba(247, 247, 245, 0)));
      background: -o-linear-gradient(bottom, #f7f7f5 50%, rgba(247, 247, 245, 0) 100%);
      background: linear-gradient(bottom, #f7f7f5 50%, rgba(247, 247, 245, 0) 100%);
    }
  }
  .ModuleList {
    padding: 90px 0px 81px;
  }
  .RecordNotes {
    box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.1);
    height: 35%;
    top: auto;
    bottom: 95px;
  }
  .RecordNotes, .RecordNotes .NotesList, .RecordNotes .NotesNav {
    width: 100%;
  }
  .RecordNotes .NotesList, .RecordNotes .NotesList:focus {
    padding: 50px 20px 20px;
  }



  .RightPanel {
    width: 100%;
    height: calc(35% + 93px);
    position: absolute;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);


    #streetWindow {
      display: inline-block;
      width: 50%;
      height: calc(100% - 93px);
      margin-bottom: 0;
      vertical-align: top;
      top: 0;
      left: 0;
    }
  }
  .Sales .RecordNotes {
    width: 50%;
    display: inline-block;
    height: 100%;
    .NotesNav {
      width: 50vw;
    }
    .NotesList {
      padding: 7vw 7% calc(125px + 4vw);
    }
  }
}

@media only screen and (max-width: 767px) {
  .ModuleContainer {
    height: calc(65% - 74px) !important;
  }
  .RecordNotes {
    bottom: 74px;
    .NotesNav {
      width: 100vw;
    }
  }
  .ModuleList .ModuleCard {
    width: 100%;
    padding: 10px;

    .inner {
      padding: 20px;
    }
  }

  .RightPanel {
    height: calc(35% + 74px);
    position: absolute;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
    #streetWindow {
      width: 100%;
      margin-top: 38px;
      height: calc(85% - 75px);
      position: absolute;
      z-index: 5;
      left: auto;
      right: 0;

      display: none;

      &.isActive {
        display: block;
      }
    }

    #notesWindow {
      display: none;

      &.isActive {
        display: block;
      }
    }


    #mobileSegment {
      display: block;
      position: absolute;
      width: 100%;
      z-index: 1;
      height: 38px;
      background: white;

      p {
        width: 50%;
        float: left;
        text-align: center;
        // padding: 4% 0;
        height: 100%;
        border-bottom: solid 1px $medGray;
        position: relative;
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          left: 0;
        }

        &.isActive {
          background: $medGray;
        }
      }
    }
  }
  .Sales .RecordNotes {
    width: 100%;
    display: inline-block;
    display: none;
    height: calc(100% - 74px);
    padding: 0;
    padding-top: 38px;

    .NotesNav, .addNotesBox {
      display: none;
    }
    .NotesList {
      padding: 6.5vw 7%;
    }

    &.isActive {
      display: block;
    }
  }
}
@media only screen and (max-width: 500px) {

}
