.RecordModules, .RecordNotes {
  position: fixed;
  height: 100%;
  overflow: scroll;
}
.RecordModules {
  left: 0;
  width: 60%;
}


.ControlsBar.recordControls {
  width: 60%;
}

.hiddenSPName {
  display: none;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 15px 0;
  background: #ebebe8;
}

.exportBtn {
  float: right;
  img {
    pointer-events: none;
  }
}
.recordNav .Navbar {
  width: 60%;
}
.RecordView {
  left: 0;
  width: 60%;
}

.RecordNotes {
  right: 0;
  width: 40%;
  @extend %card;
  cursor: default;
  top: 0;
}

.Sales .RecordNotes {
  top: auto;
  bottom: 0;
  width: 100%;
  position: relative;
  height: calc(100% - 330px);

  .NotesNav {
    padding: 2vw;
  }
  .NotesList {
    padding: 7vw 7% 6.5vw;
  }
}
.RightPanel {
  right: 0;
  width: 40%;
  height: 100%;
  bottom: 0;
  position: absolute;
  @extend %card;

  #mobileSegment {
    display: none;
  }

  #streetWindow {
    height: 300px;
    position: relative;
    top: 15px;
    left: 15px;
    margin-bottom: 30px;
    width: calc(100% - 30px);
    // background-color: #e5e3df;
    background-size: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    border: solid 5px white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

    img {
      object-fit: cover;
      width: 50%;
      height: 100%;
    }

    .mapSide {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
    }
  }
}

.ModuleContainer {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
  padding-bottom: 100px;
}
.ModuleList {
  position: relative;
  width: 92%;
  margin: auto;
  padding-top: 7vw;
  margin-bottom: 3vw;

  &.fullWidthCards {
    .ModuleCard {
      width: 100%;
    }
  }

  .ModuleCard {
    padding: 0.8vw;
    width: 50%;
    .inner {
      padding: 0.7vw 1.4vw;
      width: 100%;
      @extend %card;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .cardTag {
      padding: 15px 0;
      border-top: 1px solid $medGray;
      width: 100%;
      .btn {
        width: 100%;
        text-align: center;
      }
    }

    &.cardFull {
      width: 100%;
      padding-top: 2vw;
      // width: 59vw;
      // left: -1.9vw !important;
      // padding: 0;
      // padding-top: 2vw;
      .fullInner {
        border-top: 1px solid $medGray;
        padding-top: 2vw;

        .inner {
          padding: 0;
          border: 1px solid $medGray;

          .loader {
            width: 50px;
            height: 50px;
            margin: auto;
          }

          .wideInner {
            width: 100%;
            display: flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            padding: 1vw 1.5vw;
            border-bottom: 1px solid $medGray;
            h4 {
              flex: 1 1 0;
              // text-align: center;


              em {
                opacity: 0.5;
                font-style: normal;
                font-size: 11px;
                letter-spacing: 1px;
                text-transform: uppercase;
              }
              // &:first-child {text-align: left;}
              // &:last-child {text-align: right;}
            }
          }

          .timelineWrapper {
            position: relative;
            width: 100%;
            // height: 500px;
            background: $offWhite;

            .switchCals {
              .timelineRow .timelineCal {
                &::after {
                  transform: translateX(50%);
                }
              }

              .timelineRow:nth-child(even) {
                .timelineCal {
                  &::after {
                    transform: translateX(-100%);
                  }
                }
              }
            }

            .timelineRow {
              display: flex;
              &:first-child {
                .timelineContent {
                  padding-top: 3vw;
                }
              }
              &:last-child {
                .timelineContent {
                  padding-top: 2vw;
                }
              }

              .timelineCal {
                @extend %card;
                pointer-events: none;
                width: 50px;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  height: calc(100% - 1vw);
                  top: 0.5vw;
                  left: 50%;
                  transform: translateX(-100%);
                  width: 8px;
                  border-radius: 100px;

                  @extend .softGrad--black;
                  pointer-events: none;
                }
              }

              &:nth-child(even) {
                .timelineCal {
                  &::after {
                    transform: translateX(50%);
                  }
                }
              }

              &.owedRow .timelineContent {
                padding-bottom: 2vw;
              }

              &.row--ip, &.row--ip_ar_rp {
                .timelineCal::after {
                  background-color: $tertiary;
                }
              }
              &.row--ip_ar, &.ip_ar_aa, &.row--ip_aa {
                .timelineCal::after {
                  background-color: #2DC8D0;
                }
              }
              &.row--ip_rp, &.row--ip_ar_rp_aa {
                .timelineCal::after {
                  background-color: #C639F1;
                }
              }
              &.row--ar {
                .timelineCal::after {
                  background-color: $secondary;
                }
              }

              &.row--ar_aa, &.row--ar_rp_aa{
                .timelineCal::after {
                  background-color: #5332E6;
                }
              }
              &.row--ar_rp {
                .timelineCal::after {
                  background-color: #E6A132;
                }
              }
              &.row--rp_aa {
                .timelineCal::after {
                  background-color: #b7b7b7;
                }
              }
              &.row--rp {
                .timelineCal::after {
                  background-color: $primary;
                }
              }

              //rp only
              &.row--rp, &.row--ip_rp, &.row--ar_rp, &.row--ip_ar_rp, {
                td.input--l {
                  width: 19%
                }
                td.input--m {
                  width: 11%
                }
                td.input--s {
                  width: 9%
                }
                td.input--xs {
                  width: 7%
                }
              }

              //aa & rp
              &.row--ar_rp_aa,&.row--ip_ar_rp_aa,&.row--rp_aa,&.row--ip_rp_aa {
                table {
                  min-width: 900px;
                  td.input--l {
                    width: 12%
                  }
                  td.input--m {
                    width: 9%
                  }
                  td.input--s {
                    width: 6%
                  }
                  td.input--xs {
                    width: 5%
                  }
                }
              }

              //aa only
              &.row--aa, &.row--ip_aa, &.row--ar_aa, &.row--ip_ar_aa {
                table {
                  min-width: 780px;
                  td.input--l {
                    width: 12%
                  }
                  td.input--m {
                    width: 9%
                  }
                  td.input--s {
                    width: 6%
                  }
                  td.input--xs {
                    width: 5%
                  }
                }
              }



              .timelineContent {
                // padding: 20px 30px;
                padding: 1.5vw;
                padding-bottom: 0;
                width: calc(100% - 50px);

                .headlineArea {
                  padding-bottom: 0.5vw;
                  border-bottom: 1px solid #e0e0e0;

                  h4, p {
                    display: inline-block;
                    font-weight: bold;
                    margin-right: 10px;

                    &:last-child {
                      margin-right: 0;
                    }
                  }

                  p {
                    flex: 1 1 0;

                    em {
                      opacity: 0.5;
                      font-style: normal;
                      font-size: 11px;
                      letter-spacing: 1px;
                      text-transform: uppercase;
                    }
                  }
                }

              }
            }
          }
          .tableWrapper {
            overflow-x: scroll;
            padding-bottom: 1.5vw;
          }
          table {
            margin-top: 15px;
            width: calc(100% - 2px);

            .deleteIt {
              text-align: center;
              cursor: pointer;
              vertical-align: middle;
              width: 4%;
            }
            tr {
              border: solid 1px $gray;

              td {
                border-right: 1px solid $medGray;
                border-bottom: 1px solid $medGray;
                vertical-align: top;

                .disabled {
                  pointer-events: none;
                  background: transparent !important;
                  pointer: default;
                }

                &:first-child {
                  border-left: 1px solid $medGray;
                }

                input {
                  font-size: 11px;
                  height: 30px;
                  padding: 0 5px;
                  outline: 0;

                  &:focus {
                    background: lighten($gray, 7%);
                  }
                }
                textarea {
                  padding: 2px 3px;
                  font-size: 11px;
                  width: 100%;
                  height: 30px;
                  line-height: 11px;
                  margin-bottom: -15px;
                  border: none;
                  outline: none;
                }

                select {
                  padding: 0.3vw 5px;
                  font-size: 11px;
                  border: none;
                  width: 100%;
                  outline: 0;
                  background: white;
                  border-radius: 0;
                  -webkit-appearance: none;
                  height: 30px;
                  cursor: grab;
                }
              }

              &.accountHeader {
                border: none;
                border-bottom: 1px solid $medGray;
                td {
                  border: none;
                }
                p {
                  font-size: 10px;
                  line-height: 20px;
                  text-transform: uppercase;
                  font-weight: bold;
                  letter-spacing: 1.5px;
                  opacity: 0.5;
                }
              }

              &.accountFooter {
                #addAccount {
                  cursor: pointer;
                  color: #E2630D;
                }
                background: rgba(#E2630D, 0.05);
                h4 {
                  font-size: 13px;
                  padding: 12px 5px;

                  em {
                    opacity: 0.5;
                    font-style: normal;
                    font-size: 11px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                  }
                }
              }

              input, p {
                width: 100%;
                border: 0;
              }

              td.input--xl {
                width: 29%
              }
              td.input--l {
                width: 20%
              }
              td.input--m {
                width: 12%
              }
              td.input--s {
                width: 9%
              }
              td.input--xs {
                width: 7%
              }

              &:nth-child(odd) {
                select, input {
                  background: #f3f6fb;
                }

              }
            }
          }
        }
      }
    }
  }

  .inputBlock {
    display: inline-block;
    margin-bottom: 11px;
    position: relative;

    &.isHidden {
      display: none;
    }

    .selectBlock {
      position: relative;
      &::after {
        background: url('../assets/icons/black/down_carrot.png');
        content: "";
        opacity: 0.5;
        position: absolute;
        background-size: cover;
        width: 16px;
        height: 16px;
        pointer-events: none;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.inputBlock--half {
      flex-basis: 48%;
    }
    &.inputBlock--full {
      flex-basis: 100%;
    }
    &.inputBlock--small {
      flex-basis: 35%;
    }
    &.inputBlock--quart {
      flex-basis: 22%;
    }
    &.inputBlock--75 {
      flex-basis: 73%;
    }
    &.inputBlock--large {
      flex-basis: 61%;
    }

    label {
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @extend %sansB;
      color: #8C7376;
      width: 100%;
    }

    input, select, textarea {
      border: solid 1px $medGray;
      width: 100%;
      padding: 0.5vw 0.35vw;
      font-size: 14px;
      outline: 0;
      background: white;
      border-radius: 0;

      &:focus {
        border: solid 1px darken($darkGray, 5%);
      }
    }

    select {
      -webkit-appearance: none;
      padding: 0.3vw 0.35vw;
      background: transparent;
    }

    input[type='checkbox'] {
      background: blue;
    }
  }

  .inputWithTag {
    display: flex;
    flex-wrap: nowrap;

    .inputTag {
      flex-basis: 40px;
      background: #e8e8e8;
      position: relative;

      &.selectable {
        cursor: pointer;
      }

      a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
      }

      img {
        width: 15px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

#appraiserBtn {
  width: calc(50% - 40px);
  text-align: center;
  margin-left: 30px;
  position: absolute;
  z-index: 5;
  top: 30px;

  &.hideThis {
    display: none;
  }
}


@media only screen and (max-width: 1440px) {
  .Sales .RecordNotes .NotesList {
    padding: 7vw 7% calc(125px + 2vw);
  }
}
@media only screen and (max-width: 1350px) {
  .RightPanel {
    width: 35%;
  }
  .ControlsBar.recordControls, .recordNav .Navbar, .ModuleContainer {
    width: 65%;
  }
  .ModuleList {
    width: 96%;
  }
  .RecordNotes, .RecordNotes .NotesList, .RecordNotes .NotesNav {
    width: 35%;
  }
}
@media only screen and (max-width: 1140px) {
  #appraiserBtn {
    display: none;
  }
  .ControlsBar.recordControls, .recordNav .Navbar, .ModuleContainer {
    width: 100%;
  }
  .ModuleContainer {
    height: calc(65% - 93px) !important;
    margin: 0 auto;
    padding-bottom: 0;

    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      bottom: 2vw;
      right: 0;
      background: -webkit-linear-gradient(bottom, #f7f7f5 50%, rgba(247, 247, 245, 0) 100%);
      background: -webkit-gradient(linear, left bottom, left bottom, color-stop(50%, #f7f7f5), to(rgba(247, 247, 245, 0)));
      background: -o-linear-gradient(bottom, #f7f7f5 50%, rgba(247, 247, 245, 0) 100%);
      background: linear-gradient(bottom, #f7f7f5 50%, rgba(247, 247, 245, 0) 100%);
    }
  }
  .ModuleList {
    padding: 90px 0px 81px;
  }
  .RecordNotes {
    box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.1);
    height: 35%;
    top: auto;
    bottom: 95px;
  }
  .RecordNotes, .RecordNotes .NotesList, .RecordNotes .NotesNav {
    width: 100%;
  }
  .RecordNotes .NotesList, .RecordNotes .NotesList:focus {
    padding: 50px 20px 20px;
  }



  .RightPanel {
    width: 100%;
    height: calc(35% + 93px);
    position: absolute;
    overflow-y: hidden;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);


    #streetWindow {
      display: inline-block;
      width: 50%;
      height: calc(100% - 93px);
      margin-bottom: 0;
      vertical-align: top;
      top: 0;
      left: 0;
    }
  }
  .Sales .RecordNotes {
    width: 50%;
    display: inline-block;
    height: 100%;
    .NotesList {
      padding: 7vw 7% calc(125px + 4vw);
    }
  }
}

@media only screen and (max-width: 767px) {
  .ModuleContainer {
    height: calc(65% - 74px) !important;
  }
  .RecordNotes {
    bottom: 74px;
  }
  .ModuleList .ModuleCard {
    width: 100%;
    padding: 10px;

    .inner {
      padding: 20px;
    }
  }

  .RightPanel {
    height: calc(35% + 74px);
    position: absolute;
    overflow-y: scroll;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
    #streetWindow {
      width: 100%;
      margin-top: 38px;
      height: calc(85% - 75px);
      position: absolute;
      z-index: 5;
      left: auto;
      right: 0;

      display: none;

      &.isActive {
        display: block;
      }
    }

    #notesWindow {
      display: none;

      &.isActive {
        display: block;
      }
    }


    #mobileSegment {
      display: block;
      position: absolute;
      width: 100%;
      z-index: 1;
      height: 38px;
      background: white;

      p {
        width: 50%;
        float: left;
        text-align: center;
        // padding: 4% 0;
        height: 100%;
        border-bottom: solid 1px $medGray;
        position: relative;
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          left: 0;
        }

        &.isActive {
          background: $medGray;
        }
      }
    }
  }
  .Sales .RecordNotes {
    width: 100%;
    display: inline-block;
    display: none;
    height: calc(100% - 74px);
    padding: 0;
    padding-top: 38px;

    .NotesNav, .addNotesBox {
      display: none;
    }
    .NotesList {
      padding: 6.5vw 7%;
    }

    &.isActive {
      display: block;
    }
  }
}
@media only screen and (max-width: 500px) {

}
