.CustomerDashNav {
  .splashWrapper {
    position: absolute;
    width: 15%;
    height: 89vh;
    top: 0;
    right: 0;

    a {
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }

    .searchArea {
      padding-left: 3%;

      .innerSearch {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .vr {
      background: #c5c5c4;
      flex-basis: 1px;
    }


    .linkSet {
      display: flex;
      flex: 1 1 0;
      padding: 0;
      flex-basis: 25%;
      width: 100%;
      height: 100%;
      flex-direction: column;
      padding: 0;

      p {
        font-size: 14px;
        line-height: 16px;
      }

      .splashCard {
        flex-basis: 25%;
        position: relative;

        a {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }

      .splashCard--all {
        margin-bottom: 0;
      }
    }

    .isActive {
      pointer-events: none;
      .circleDot::before {
        content: none;
      }
      p {
        font-weight: 900;
        color: $white;
      }
    }

    #ticket {
      .circleDot {  background: #fab32a;  }
      .cornerNumber { background: #fab32a;  }

      &.isActive {
        background: #fab32a;
      }
    }
    #attention {
      .circleDot {  background: $primary; }
      .cornerNumber { background: $primary; }

      &.isActive {
        background: $primary
      }
    }
    #proactive {
      .circleDot {  background: $tertiary }
      .cornerNumber { background: $tertiary;  }

      &.isActive {
        background: $tertiary;
      }
    }

    #visit {
      .circleDot {  background: $black; }
      .cornerNumber { background: $black; }

      &.isActive {
        background: $black;
      }
    }

    #browseAll {
      .circleDot {  background: $secondary; }

      &.isActive {
        background: $secondary
      }
    }

    .splashCard {
      background: $white;
      border-radius: 0px;
      box-shadow: 0 -2px 7px rgba(0,0,0,0.05);
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.25s ease;

      &:hover {
        transition: all 0.25s ease;
        background: rgba($white, 0.25);
      }

      .cornerNumber {
        position: absolute;
        top: 0;
        right: 0;
        padding-left: 16px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 15px;
        border-bottom-left-radius: 100px;
        color: $white;
        font-weight: 600;
        @extend %softGradient;

        &.loading {
          img {
            width: 25px;
          }
          background: none !important;
        }
      }

      .inner {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .circleDot {
        margin: auto;
        margin-bottom: 3px;
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        @extend %softGradient;

        img {
          width: 45%;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .searchArea {
    position: fixed;
    bottom: 0;
    height: 11vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    background: $white;
    border-top: solid 3px #e4e4e4;
    text-align: center;

    h2 {
      font-size: 22px;
      line-height: 23px;
    }

    .innerSearch {
      max-width: 500px;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      form {
        border-radius: 100px;
        background: #f5f5f5;


        input, select {
          background: #f5f5f5;
        }

        input {
          width: calc(100% - 160px);
          height: 53px;
          vertical-align: top;
          border-radius: 100px;
          border: none;
          padding: 10px 20px;
          outline: 0;
        }
        select {
          width: 90px;
          margin-right: 10px;
          height: 53px;
          vertical-align: top;
          border-radius: 0;
          border: none;
          outline: 0;
          border-left: 1px solid #dedede;
        }
      }
    }
  }
}


.SplashBar {
  width: 85%;

  h4 span {
    display: inline-block;
    list-style: none;
    opacity: 0.45;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    margin-right: 1vw;
    position: relative;
  }
}
.SplashView {
  position: absolute;
  width: 100%;
  height: 100%;




  form {
    background: white;
    border-radius: 100px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);

    input {
      width: calc(100% - 160px);
      height: 53px;
      vertical-align: top;
      border-radius: 100px;
      border: none;
      padding: 10px 20px;
      outline: 0;
    }
    select {
      width: 90px;
      margin-right: 10px;
      height: 53px;
      vertical-align: top;
      border-radius: 0;
      border: none;
      background: $white;
      outline: 0;
      border-left: 1px solid #dedede;
    }
  }
}

.attentionContainer {
  position: relative;
  width: 85%;
  padding: 100px 6% 50px;
  height: 89vh;
  overflow: scroll;

  .rowItems {
    padding: 0 1%;
    margin-bottom: 50px;

    &.newStarts {
      .ArchiveItem .subInfo {
        background: rgba(#1F92C2, 0.6);
      }
    }
    &.newCloses {
      .ArchiveItem .subInfo {
        background: rgba($secondary, 0.75);
      }
    }
    &.crewChanges {
      .ArchiveItem .subInfo {
        background: rgba(#E2630D, 0.35);
      }
    }
    &.notHappy {
      .ArchiveItem .subInfo {
        background: rgba($primary, 0.35);
      }
    }
    &.mehAccounts {
      .ArchiveItem .subInfo {
        background: rgba($black, 0.15);
      }
    }

    .everyMonth .subInfo {
        background: rgba(#1F92C2, 0.6);
    }
    .twicePerMonth .subInfo {
        background: rgba($secondary, 0.75);
    }
    .everyOtherMonth .subInfo {
        background: rgba(#E2630D, 0.35);
    }
  }


}


.rowItems {
  .ArchiveItem {
    padding: 0.5vw;
    width: 19%;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;

    &.recentlyClosed {
      background: $secondary;
      transition: all 0.5s ease;
    }

    &:hover {
      transform: translateY(-5%);
      background: none;
      transition: all 0.5s ease;

      .whiteCard, .subInfo {
        box-shadow: $lgThemeShadow;
      }
    }

    .whiteCard:hover {
      transform: none;
      box-shadow: $themeShadow;
    }

    .whiteCard {
      padding-bottom: 1vw;
    }

    .subInfo {
      @extend %card;
      @extend %softGradient;
      padding: 1vw 2vw;
      background: $gray;
      border: solid 5px $white;
      border-top: 0;

      p {
        color: white;
        display: inline-block;
      }

      .amount {
        font-size:11px;
        font-weight: bold;
        text-shadow: 0 1px 5px rgba(0,0,0,0.1);
        margin-right:10px;
      }

      .rounded {
        border-radius: 100px;
        padding: 5px 10px;
        font-size: 12px;
        text-align: center;
      }
      .pam {
        background: rgba($black, 0.2);
      }
      .canc {
        background: rgba($primary, 0.2);
      }
      .appc {
        background: rgba(#1F92C2, 0.2);
      }
      .appt {
        background: rgba($black, 0.2);
      }
    }

    .smallText {
      margin-top: 4px;
      img, span {
        vertical-align: middle;
      }
      img {
        width: 24px;
        margin-right: 2px;
      }
    }
  }
  .whiteCard {
    padding: 2vw;
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  .rowItems .ArchiveItem {
    width: 20%;
  }
  .attentionContainer .rowItems {
    padding: 0px;
  }
}

@media only screen and (max-width: 1140px) {
  .rowItems .ArchiveItem {
    width: 25%;
  }
}
@media only screen and (max-width: 900px) {
  .attentionContainer {
    width: calc(100% - 75px);
  }
  .CustomerDashNav .splashWrapper, .splashWrapper {
    z-index: 10;
    width: 75px;
    background: $white;

    .linkSet {
      .splashCard {

        .circleDot {
          width: 40px;
          height: 40px;

          img {
            top: 42%;
          }
        }
      }
    }
  }
  .rowItems .ArchiveItem {
    width: 33%;
  }
  .SplashView {

    .searchArea {
      padding: 15px 4%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .rowItems .ArchiveItem {
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .rowItems .ArchiveItem {
    width: 100%;
  }
}
