.ModuleList .ModuleCard.cardFull {
  width: 100%;
  padding-top: 2vw;
  .fullInner {
    border-top: 1px solid $medGray;
    padding-top: 2vw;

    .inner {
      padding: 0;
      border: 1px solid $medGray;

      .loader {
        width: 50px;
        height: 50px;
        margin: auto;
      }

      .wideInner {
        width: 100%;
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        padding: 1vw 1.5vw;
        border-bottom: 1px solid $medGray;
        .volInner {
          width: 100%;
        }
        .volBar {
          display: inline-block;
          width: 50%;
          vertical-align: top;

          &:first-child {
            width: calc(50% - 1px);
            padding-right: 5%;
            border-right: 1px solid $gray;
          }
          &:last-child {
            padding-left: 5%;
          }

          .volHalf {
            width: 50%;
            display: inline-block;
            vertical-align: top;
          }
        }

        h4 {
          flex: 1 1 0;
          font-size: 16px;
          // text-align: center;


          em {
            opacity: 0.5;
            font-style: normal;
            font-size: 11px;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
          &:nth-child(2), &:nth-child(3) {
            margin-top: 6px;
          }
          // &:first-child {text-align: left;}
          // &:last-child {text-align: right;}
        }

        &.bottomSide {
          border-bottom: none;
          border-top: 1px solid $medGray;
        }
      }

      .timelineWrapper {
        position: relative;
        width: 100%;
        background: $offWhite;
        overflow-y: scroll;
        min-height: 350px;

        .switchCals {
          .timelineRow .timelineCal {
            &::after {
              transform: translateX(50%);
            }
          }

          .timelineRow:nth-child(even) {
            .timelineCal {
              &::after {
                transform: translateX(-100%);
              }
            }
          }
        }

        .timelineRow {
          display: flex;
          &:first-child {
            .timelineContent {
              padding-top: 3vw;
            }
          }
          &:last-child {
            .timelineContent {
              padding-top: 2vw;
            }
          }

          .timelineCal {
            @extend %card;
            pointer-events: none;
            width: 50px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              height: calc(100% - 1vw);
              top: 0.5vw;
              left: 50%;
              transform: translateX(-100%);
              width: 8px;
              border-radius: 100px;

              @extend .softGrad--black;
              pointer-events: none;
            }
          }

          &:nth-child(even) {
            .timelineCal {
              &::after {
                transform: translateX(50%);
              }
            }
          }

          &.owedRow .timelineContent {
            padding-bottom: 2vw;
          }

          &.row--ip, &.row--ip_ar_rp {
            .timelineCal::after {
              background-color: $tertiary;
            }
          }
          &.row--ip_ar, &.ip_ar_aa, &.row--ip_aa {
            .timelineCal::after {
              background-color: #2DC8D0;
            }
          }
          &.row--ip_rp, &.row--ip_ar_rp_aa {
            .timelineCal::after {
              background-color: #C639F1;
            }
          }
          &.row--ar {
            .timelineCal::after {
              background-color: $secondary;
            }
          }

          &.row--ar_aa, &.row--ar_rp_aa{
            .timelineCal::after {
              background-color: #5332E6;
            }
          }
          &.row--ar_rp {
            .timelineCal::after {
              background-color: #E6A132;
            }
          }
          &.row--rp_aa {
            .timelineCal::after {
              background-color: #b7b7b7;
            }
          }
          &.row--rp {
            .timelineCal::after {
              background-color: $primary;
            }
          }

          //rp only
          &.row--rp, &.row--ip_rp, &.row--ar_rp, &.row--ip_ar_rp, {
            td.input--l {
              width: 19%
            }
            td.input--m {
              width: 11%
            }
            td.input--s {
              width: 9%
            }
            td.input--xs {
              width: 7%
            }
          }

          //aa & rp
          &.row--ar_rp_aa,&.row--ip_ar_rp_aa,&.row--rp_aa,&.row--ip_rp_aa {
            table {
              min-width: 900px;
              td.input--l {
                width: 12%
              }
              td.input--m {
                width: 9%
              }
              td.input--s {
                width: 6%
              }
              td.input--xs {
                width: 5%
              }
            }
          }

          //aa only
          &.row--aa, &.row--ip_aa, &.row--ar_aa, &.row--ip_ar_aa {
            table {
              min-width: 780px;
              td.input--l {
                width: 12%
              }
              td.input--m {
                width: 9%
              }
              td.input--s {
                width: 6%
              }
              td.input--xs {
                width: 5%
              }
            }
          }



          .timelineContent {
            // padding: 20px 30px;
            padding: 1.5vw;
            padding-bottom: 0;
            width: calc(100% - 50px);

            .headlineArea {
              padding-bottom: 0.5vw;
              border-bottom: 1px solid #e0e0e0;

              h4, p {
                display: inline-block;
                font-weight: bold;
                margin-right: 10px;

                &:last-child {
                  margin-right: 0;
                }
              }

              p {
                flex: 1 1 0;

                em {
                  opacity: 0.5;
                  font-style: normal;
                  font-size: 11px;
                  letter-spacing: 1px;
                  text-transform: uppercase;
                }
              }
            }

          }
        }
      }
      .tableWrapper {
        overflow-x: scroll;
        padding-bottom: 1.5vw;
      }
      table {
        margin-top: 15px;
        width: calc(100% - 2px);

        .deleteIt {
          text-align: center;
          cursor: pointer;
          vertical-align: middle;
          width: 4%;
        }
        tr {
          border: solid 1px $gray;

          td {
            border-right: 1px solid $medGray;
            border-bottom: 1px solid $medGray;
            vertical-align: top;

            .disabled {
              pointer-events: none;
              background: transparent !important;
              pointer: default;
            }

            &:first-child {
              border-left: 1px solid $medGray;
            }

            input {
              font-size: 11px;
              height: 30px;
              padding: 0 5px;
              outline: 0;

              &:focus {
                background: lighten($gray, 7%);
              }
            }
            textarea {
              padding: 2px 3px;
              font-size: 11px;
              width: 100%;
              height: 30px;
              line-height: 11px;
              margin-bottom: -15px;
              border: none;
              outline: none;
            }

            select {
              padding: 0.3vw 5px;
              font-size: 11px;
              border: none;
              width: 100%;
              outline: 0;
              background: white;
              border-radius: 0;
              -webkit-appearance: none;
              height: 30px;
              cursor: grab;
            }
          }

          &.accountHeader {
            border: none;
            border-bottom: 1px solid $medGray;
            td {
              border: none;
            }
            p {
              font-size: 10px;
              line-height: 20px;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 1.5px;
              opacity: 0.5;
            }
          }

          &.accountFooter {
            #addAccount {
              cursor: pointer;
              color: #E2630D;
            }
            background: rgba(#E2630D, 0.05);
            h4 {
              font-size: 13px;
              padding: 12px 5px;

              em {
                opacity: 0.5;
                font-style: normal;
                font-size: 11px;
                letter-spacing: 1px;
                text-transform: uppercase;
              }
            }
          }

          input, p {
            width: 100%;
            border: 0;
          }

          td.input--xl {
            width: 29%
          }
          td.input--l {
            width: 20%
          }
          td.input--m {
            width: 12%
          }
          td.input--s {
            width: 9%
          }
          td.input--xs {
            width: 7%
          }

          &:nth-child(odd) {
            select, input {
              background: #f3f6fb;
            }

          }
        }
      }
    }
  }
}
